<div id="main">{{{body}}}</div>
<script>
  var __SERVER__DATA__={{{data}}};
</script>
<script type="text/javascript" src="/build/vendor-{{hash}}.js"></script>
<script type="text/javascript" src="/build/{{page}}-{{hash}}.js"></script>
